/* app/components/PartnersPopUp/PartnersPopUp.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  position: relative;
  background: white;
  overflow: hidden;
  width: 90%;
  max-width: 62.5rem;
  z-index: 9999;
  max-height: 90vh;
}

.closeButton {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 10;
  color: var(--noir);
  background-color: var(--blanc);
  border-radius: 0.25rem;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: var(--rouge);
}

.contentWrapper {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  max-height: calc(90vh - 3rem);
  overflow-y: auto;
}

.imageContainer {
  flex: 1;
  min-width: 45%;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--beige);
  border: 1px solid #03030310;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  color: var(--noir);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.description {
  font-size: 1.125rem;
  color: var(--noir);
  margin: 0;
}

.navigation {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.navButton {
  width: 3rem;
  height: 3rem;
  background-color: var(--bleu);
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.navButton:hover {
  background-color: var(--rouge);
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
    gap: 1.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .imageContainer {
    min-width: 100%;
  }
}
