.footer {
    width: 100%;
    background-color: var(--rouge);
    align-items: flex-end;
    padding: 48px 80px 20px 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    will-change: transform;
}

.footerContent {
    display: flex;
    flex-direction: column;
    gap: var(--padding-80);
}

.footerInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    max-width: 70vw;
    margin: 0 auto;
}

.footerLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footerYear {
    font-weight: 200;
    font-size: 1rem;
    color: var(--beige);
    display: flex;
    gap: 1rem;
}

.footerMentionslegales {
    font-weight: 200;
    text-decoration: none;
    font-size: 1rem;
    color: var(--beige);
}

.footerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
    width: 100%;
}

.footerCookie {
    font-weight: 200;
    font-size: 1rem;
    text-decoration: none;
    color: var(--beige);
}

.footerMentions {
    font-weight: 200;
    font-size: 1rem;
    text-decoration: none;
    color: var(--beige);
}

.scrollToTopBtn {
    color: var(--blanc);
    font-family: "bebas";
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
    padding: 10px 10px 20px;
    background: none;
    border: none;
}

.scrollToTopBtn:hover {
    transform: scale(1.05);
}

.pattern {
    position: absolute;
    top: 0;
    right: 40px;
    width: 200px;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 2.375rem 1rem 2.375rem 1rem;
        flex-wrap: wrap;
    }
    
    .footerYear {
        font-size: 0.75rem;
    }

    .footerMentionslegales {
        font-size: 0.75rem;
    }
    
    .footerCookie {
        font-size: 0.75rem;
    }
    
    .footerMentions {
        font-size: 0.75rem;
    }
    
    .scrollToTopBtn {
        padding: 8px 8px 16px;
    }
}
