.services {
  position: relative;
  padding: 120px 80px;
  min-height: 100vh;
  background-color: var(--beige);
}

.servicesTitle {
  width: 100%;
  padding-bottom: 120px;
}

.title {
  color: var(--bleu);
  text-align: left;
  font-family: "bebas_neueregular";
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
}

.servicesContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;
}

.scrollContent {
  display: flex;
  flex-direction: column;
}

.contentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-right: 40px;
}

.sectionTitle {
  padding-bottom: 48px;
}

.sectionTitle h3 {
  color: var(--rouge);
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.sectionDescription {
  display: flex;
  flex-direction: column;
}

.fixedImageContainer {
  padding: 140px 0 140px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Hauteur ajustée pour le padding */
  position: relative;
}

.imageWrapper {
  position: relative; /* Changez de 'absolute' à 'relative' */
  width: 100%;
  height: 100%;
}

.servicesImage {
  object-fit: cover; /* Couvre l'espace disponible sans perdre les proportions */
  width: 100%; /* S'adapte à la largeur du conteneur */
  height: 100%; /* S'adapte à la hauteur du conteneur */
}
