.services {
  position: relative;
  padding: 120px 80px;
  min-height: 100vh;
  background-color: #fff;
}

.servicesTitle {
  height: 100%;
  width: 100%;
  padding-bottom: 120px;
}

.title {
  color: var(--bleu);
  text-align: left;
  font-family: "bebas_neueregular";
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
}

.servicesContent {
  display: flex;
  gap: 4rem;
  position: relative;
  max-width: 100vw;
}

.scrollContent {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* Section individuelle */
.contentSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 48px;
}

.sectionTitle {
  height: fit-content;
  padding-bottom: 48px;
}

.sectionTitle h3 {
  color: var(--rouge);
  text-align: left;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.sectionDescription {
  display: flex;
  flex-direction: column;
}

/* Conteneur d'image fixe */
.fixedImageContainer {
  width: 50% !important;
  position: relative;
  height: 600px;
}

.servicesImage {
  object-fit: cover;
  transition: opacity 0.3s ease;
}
