.container {
  width: 100%;
  max-width: 70vw;
  margin: 0 auto;
}

.card {
  background-color: var(--beige);
  padding: var(--padding-80) var(--padding-120);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  position: relative;
}

.corner {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--beige);
}

#topLeft {
  top: -1.25rem;
  left: -1.25rem;
  border-right: none;
  border-bottom: none;
  transform: rotate(180deg);
}

#topRight {
  top: -1.25rem;
  right: -1.25rem;
  border-left: none;
  border-bottom: none;
  transform: rotate(180deg);
}

#bottomLeft {
  bottom: -1.25rem;
  left: -1.25rem;
  border-right: none;
  border-top: none;
  transform: rotate(180deg);
}

#bottomRight {
  bottom: -1.25rem;
  right: -1.25rem;
  border-left: none;
  border-top: none;
  transform: rotate(180deg);
}

.title {
  font: var(--font-xl-med-1);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
}

.animated-line {
  overflow: hidden;
  display: block;
}

.animated-line > div {
  position: relative;
  overflow: hidden;
}

/* 
  
  
Responsive
  
  
*/

@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .card {
    padding: 1.625rem;
  }
  #topRight {
    top: -0.625rem;
    right: -0.625rem;
    width: 0.75rem;
    height: 0.75rem;
  }

  #topLeft {
    top: -0.625rem;
    left: -0.625rem;
    width: 0.75rem;
    height: 0.75rem;
  }

  #bottomLeft {
    bottom: -0.625rem;
    left: -0.625rem;
    width: 0.75rem;
    height: 0.75rem;
  }

  #bottomRight {
    bottom: -0.625rem;
    right: -0.625rem;
    width: 0.75rem;
    height: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}

