@import "tailwindcss";

@font-face {
    font-family: "articulat";
    src:
        url("/assets/fonts/articulatcf/articulatcf-demibold-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/articulatcf/articulatcf-demibold-webfont.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "articulat";
    src:
        url("/assets/fonts/articulatcf/articulatcf-medium-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/articulatcf/articulatcf-medium-webfont.woff")
            format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "articulat";
    src:
        url("/assets/fonts/articulatcf/articulatcf-regular-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/articulatcf/articulatcf-regular-webfont.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "bebas";
    src:
        url("/assets/fonts/bebas-neue/bebasneue-regular-webfont.woff2")
            format("woff2"),
        url("/assets/fonts/bebas-neue/bebasneue-regular-webfont.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@theme {
    --*: initial;

    --spacing: 0.125rem;
    --font-display: "articulat";
    --font-articulate: "articulat";
    --font-bebas: "bebas";

    --text-tag: 1.25rem;
    --text-tag--line-height: 1.25rem;
    --text-tag--font-weight: 400;

    --text-desk-tag: 1.625rem;
    --text-desk-tag--font-weight: 400;

    --text-desk-xxl: 5.25rem;
    --text-desk-xxl--line-height: 137.5%;
    --text-desk-xxl--font-weight: 500;

    --text-xl: 1.5rem;
    --text-xl--line-height: 133%;
    --text-xl--font-weight: 500;

    --text-l: 2.25rem;
    --text-l--line-height: 133%;
    --text-l--font-weight: 500;

    --text-desk-xl: 4rem;
    --text-desk-xl--line-height: 137.5%;
    --text-desk-xl--font-weight: 500;

    --text-m: 1.375rem;
    --text-m--line-height: 2rem;
    --text-m--font-weight: 500;

    --text-desk-m: 2.25rem;
    --text-desk-m--line-height: 3rem;
    --text-desk-m--font-weight: 500;

    --text-desk-s: 1.375rem;
    --text-desk-s--line-height: 137%;
    --text-desk-s--font-weight: 500;

    --text-xs: 0.875rem;
    --text-xs--line-height: 1.25rem;
    --text-xs--font-weight: 500;

    --text-desk-xs: 1.125rem;
    --text-desk-xs--line-height: 1.5rem;
    --text-desk-xs--font-weight: 500;

    --text-48: 3rem;
    --text-38: 2.375rem;
    --text-24: 1.5rem;
    --text-18: 1.125rem;
    --text-22: 1.375rem;
    --text-16: 1rem;

    --color-black-4: #00000004;
    --color-black-10: rgba(0, 0, 0, 0.1);
    --color-red: #ab2325;
    --color-beige: #f9f1ea;
    --color-bleu: #003b87;
    --color-beige-30: #f9f1ea30;
    --color-black: #000000;
    --color-black-20: #00000020;
    --color-white: #ffffff;

    --radius-3: 3.2px;
    --radius-5: 5px;

    --breakpoint-md: 768px;

    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1920px;
    --breakpoint-4xl: 1921px;

    --font-medium: 500;
    --font-normal: 400;
    --font-light: 300;
}
html {
    @apply 2xl:text-[calc(100vw_/_1920_*_16)] 3xl:text-[calc(100vw_/_1920_*_16)] 4xl:text-[16px] text-[calc(100vw_/_375_*_16)] md:text-[calc(100vw_/_768_*_16)] lg:text-[calc(100vw_/_1920_*_16)];
}

:root {
    overscroll-behavior: none;
    overflow-y: auto;
}

html,
body {
    font-family: var(--font-display);

    background-color: var(--beige);
}

::-webkit-scrollbar {
    display: none;
}

.t-image-clip-path img {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1.5s cubic-bezier(0.6, 0, 0.3, 0.9);
}
.t-image-clip-path.is-visible img {
    clip-path: inset(0 0 0 0);
}

.t-accordeon {
    position: relative;
    transition: all 0.5s cubic-bezier(0.31, 0.2, 0, 1);
    overflow: hidden;
}
.t-accordeon-head {
    position: relative;
    transition: all 0.5s cubic-bezier(0.31, 0.2, 0, 1);
    overflow: hidden;
}
.t-accordeon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blanc);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s cubic-bezier(0.7, 0, 0.2, 1);
    z-index: 0;
}
.t-accordeon svg {
    position: relative;
    transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
    color: var(--bleu);
    transform: scale(1);
}

.t-accordeon svg.plus {
    color: var(--color-red);
}
.t-accordeon:hover svg.plus {
    /*transform: rotate(90deg) scale(1);*/
    color: var(--color-bleu);
}
.t-accordeon:hover::before {
    /*transform: scaleX(1);
    transform-origin: left;*/
}

.t-accordeon:hover .t-accordeon-head,
.t-accordeon.is-open .t-accordeon-head {
    @apply px-16 text-bleu;
}

.t-accordeon-body {
    position: relative;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
    padding-bottom: 0rem;

    padding-inline: 2rem;
}
.t-accordeon-body.is-open {
    opacity: 1;
    max-height: max-content;
    padding-bottom: 2rem;
}
.t-accordeon-body.is-open svg {
    transform: rotate(90deg) scale(1);
}

/* Par défaut, #nav-sticky reste transparent */
#nav-sticky {
    transition: transform 5s cubic-bezier(.6, 0, .6, 1);
}

#nav-sticky.is-scroll-down {
    transform: translateY(-5rem);
    opacity: 0;
    pointer-events: none;
    background-color: transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}

/* Quand html.is-red, on ajoute le fond beige sur tout le header */
html.is-red #nav-sticky:not(.is-scroll-down) {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
    left: 0;
    right: 0;
    width: 100%;
}

@media (min-width: 768px) {
    html.is-red #nav-sticky:not(.is-scroll-down) {
        padding-inline: 5rem;
    }
}

/* Texte noir dans le menu quand sticky */
html.is-red #navbar a {
    color: #000000;
    transition: color 0.3s ease;
}

/* Hover bleu sur les liens */
html.is-red #navbar a:hover {
    color: #003b87;
}

html.is-red #hero-logo path {
    fill: var(--color-red);
}
html.is-red #t-menu line {
    stroke: var(--color-white);
}
html.is-red #t-menu span {
    color: white;
}
html.is-red #t-menu span#close {
    color: var(--color-black);
}
html.is-red #t-menu button {
    background-color: var(--color-red);
}
#t-menu {
    transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
}
#t-menu.is-scroll-down {
    transform: translateY(-7.25rem);
    pointer-events: none;
}
#nav-sticky {
    transition: transform 5s 
cubic-bezier(.6, 0, .6, 1);
}

html.is-red #nav-sticky:not(.is-scroll-down) {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    left: 0;
    right: 0;
    width: 100%;
}

#nav-sticky.is-scroll-down {
    transform: translateY(-5rem);
    opacity: 0;
    pointer-events: none;
    background-color: transparent !important;
    border-bottom: none !important;
}

html.is-red #navbar a {
    color: #000000;
    transition: color 0.3s ease;
}

html.is-red #navbar a:hover {
    color: #003b87;
}

html.is-red #hero-logo path {
    fill: var(--color-red);
}

html.is-red #t-menu line {
    stroke: var(--color-white);
}

html.is-red #t-menu span {
    color: white;
}

html.is-red #t-menu span#close {
    color: var(--color-black);
}

html.is-red #t-menu button {
    background-color: var(--color-red);
}

#t-menu {
   transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
}

#t-menu.is-scroll-down {
    transform: translateY(-5rem);
    opacity: 0;
    pointer-events: none;
}

html.is-red #contact-btn a {
    background-color: var(--color-red);
    color: var(--color-white);
}

html.is-red #contact-btn a:hover {
    background-color: var(--color-red);
    color: var(--color-black);
}

html.is-red #contact-btn a::before {
    background-color: var(--color-white);
}

#contact-btn {
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}