.faq {
    display: flex;
    flex-direction: row;
    padding: 120px 80px;
    width: 100%;
    gap: 168px;
    background-color: var(--beige);
}

.faqContent {
    display: flex;
    flex-direction: column;
    gap: 4.25rem;
    width: 30vw;
}

.subtitle {
    width: 100%;
}

.subtitle h2 {
    text-align: left;
    color: var(--bleu);
    font-family: "bebas_neueregular";
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
}

.imageWrapper {
    position: sticky;
    top: 120px;
    width: 100%;
    height: fit-content;
    flex: 1;
    min-height: 500px;
    overflow: hidden;
    min-width: 21.5rem;
}

.faqList {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.animated-line {
    overflow: hidden;
    display: block;
}

.animated-line > div {
    position: relative;
    overflow: hidden;
}

.image {
    clip-path: inset(0 100% 0 0);
    aspect-ratio: 344/100;
    transition: clip-path 1.5s cubic-bezier(0.6, 0, 0.3, 0.9);
}

.imageWrapper.visible .image {
    clip-path: inset(0 0 0 0);
}

@media screen and (max-width: 1024px) {
    .faq {
        flex-direction: column-reverse;
        padding: 1rem;
        gap: 32px;
        height: 100%;
    }

    .faqContent {
        width: 100%;
        padding: 0 0 3.5rem 0;
    }

    .imageWrapper {
        position: relative;
        min-height: 500px;
    }
}