.cardContainer {
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: all 0.5s cubic-bezier(0, 0.7, 0.7, 0.9);
  border-radius: 0.25rem;
  position: relative;
}

.cardContainer:hover {
  clip-path: none !important;
}
.card {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid var(--noir-10);
  background: var(--noir-4);
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;
  transform: translateZ(0);
  will-change: transform;
  overflow: visible;
}

.card:hover {
  background: var(--blanc);
}

.card:hover .text {
  color: var(--rouge);
}

.card:hover .rightIcon svg {
  transform: rotate(90deg);
  color: var(--rouge);
}

.rightIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
}

.rightIcon svg {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: var(--cross-transition), color 0.3s ease;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.logoContainer {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  background-color: var(--blanc);
  border-radius: 0.25rem;
  border: 1px solid var(--noir-20);
  padding: 0.375rem;
  will-change: transform, opacity;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
}

.text {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  margin: 0;
  color: var(--noir);
}

.tooltipIcon {
  width: 0.625rem;
  height: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.375rem;
  color: rgba(255, 255, 255, 0.6);
  background: black;
  cursor: help;
  border-radius: 624.9375rem;
  overflow: visible;
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 0.75rem);
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1000;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.25rem;
  border-style: solid;
  border-color: var(--noir) transparent transparent transparent;
}

@media screen and (max-width: 1024px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
