.cardContainer {
  width: 100%;
  height: 100%;
  transform-origin: left;
  background: var(--black-4, rgba(0, 0, 0, 0.04));
  transition: all 0.5s cubic-bezier(0, 0.7, 0.7, 0.9);
  border-radius: 4px;
  position: relative;
}

.card {
  display: flex;
  width: 20vw;
  padding: 8px 16px 8px 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--liseret-black, rgba(0, 0, 0, 0.12));
  background: var(--black-4, rgba(0, 0, 0, 0.04));
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;
  transform: translateZ(0);
  will-change: transform;
  overflow: visible;
}

.card:hover {
  background: var(--blanc);
}

.card:hover .text {
  color: var(--rouge);
}

.card:hover .rightIcon svg {
  transform: rotate(180deg);
  color: var(--rouge);
  transition: all 0.5s cubic-bezier(0, 0.7, 0.7, 0.9);
}

.rightIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
}

.rightIcon svg {
  transform: rotate(0deg);
  transition: all 0.5s cubic-bezier(0, 0.7, 0.7, 0.9);
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.logoContainer {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: var(--blanc);
  border-radius: 4px;
  border: 1px solid var(--black-20);
  padding: 6px;
  will-change: transform, opacity;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.text {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  margin: 0;
  color: #000;
}

.tooltipIcon {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6px;
  color: rgba(255, 255, 255, 0.6);
  background: black;
  cursor: help;
  border-radius: 9999px;
  overflow: visible;
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1000;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

@media screen and (max-width: 1024px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
