.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.svgWrapper {
  width: 100%;
  animation: scrollUpInfinite 15s linear infinite;
}

.svg {
  margin-top: -41px;
  fill: var(--beige-30);
  height: 286px;
  width: auto;
}

@keyframes scrollUpInfinite {
  0% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(-200%);
  }
}
