.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.svgWrapper {
  width: 100%;
  animation: scrollUpInfinite 15s linear infinite;
}

.svg {
  margin-top: -50px;
  fill: var(--beige-30);
  height: 333px;
  width: auto;
}

@keyframes scrollUpInfinite {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(300%);
  }
}
