/* components/ListAsk/ListAsk.module.css */
.container {
  width: 100%;
  margin: 0 auto;
}

.questionItem {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5rem 0;
  width: 100%;
  transition: padding 0.5s cubic-bezier(0.89, 0.2, 0.11, 0.79);
}

.questionItem:hover {
  padding: 2.5rem 2rem;
}

.questionItem:hover .questionText {
  color: var(--rouge); /* ou utilisez une variable CSS si nécessaire */
}

.questionItem:hover .toggleIcon {
  rotate: 180deg; /* Changé de 90deg à 180deg */
  color: var(--rouge);
}

.questionButton {
  width: 100%;
  padding: 0 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.questionText {
  font-size: 18px;
  color: var(--noir);
}

.readMoreWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.toggleIcon {
  transition: all 0.5s cubic-bezier(0.89, 0.2, 0.11, 0.79);
  color: var(--rouge);
}

.readMore {
  color: var(--noir);
  font-size: 16px;
}
