/* Nav.module.css */

.navbar {
  z-index: 9999;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%); /* Centrer horizontalement */
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrer les éléments de navigation */
  align-items: center; /* Centrer verticalement */
  color: white;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.6s ease-in-out;
  border-radius: 4px;
  border: 1px solid var(--beige-30);
}

.navItems {
  display: flex;
  gap: 46px;
}

.navItems a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navItems a:hover {
  color: #ccc;
}

.navIcon {
  display: none;
  transition: transform 0.5s ease-in-out;
}

.navbar.scrolled .navItems {
  display: none;
}

.navbar.scrolled .navIcon {
  display: block;
}

.wrapper.scrolled {
  justify-content: flex-start;
  transition: all 0.5s ease-in-out;
}

.navbar.scrolled {
  position: fixed;
  top: 40px;
  left: 80px;
  transform: none; /* Enlever le centrage horizontal */
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  backdrop-filter: blur(10px); /* Appliquer le flou au background */
}
